@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
@keyframes scale {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }
@keyframes smack {
  0% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  2.1% {
    transform: matrix3d(0.185, 0.044, 0, 0, 0.029, 0.185, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.1% {
    transform: matrix3d(0.388, 0.154, 0, 0, 0.1, 0.388, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  4.7% {
    transform: matrix3d(0.45, 0.194, 0, 0, 0.125, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  8.21% {
    transform: matrix3d(0.786, 0.411, 0, 0, 0.261, 0.786, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  9.41% {
    transform: matrix3d(0.883, 0.453, 0, 0, 0.289, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  11.41% {
    transform: matrix3d(1.018, 0.474, 0, 0, 0.304, 1.018, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.11% {
    transform: matrix3d(1.141, 0.418, 0, 0, 0.272, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  14.51% {
    transform: matrix3d(1.154, 0.403, 0, 0, 0.263, 1.154, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  18.72% {
    transform: matrix3d(1.212, 0.22, 0, 0, 0.146, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  20.72% {
    transform: matrix3d(1.202, 0.134, 0, 0, 0.089, 1.202, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  24.32% {
    transform: matrix3d(1.151, 0.016, 0, 0, 0.011, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  27.03% {
    transform: matrix3d(1.1, -0.037, 0, 0, -0.025, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  29.93% {
    transform: matrix3d(1.048, -0.066, 0, 0, -0.044, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  33.23% {
    transform: matrix3d(1.001, -0.072, 0, 0, -0.048, 1.001, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  35.54% {
    transform: matrix3d(0.979, -0.067, 0, 0, -0.045, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  41.04% {
    transform: matrix3d(0.961, -0.04, 0, 0, -0.027, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  45.75% {
    transform: matrix3d(0.97, -0.016, 0, 0, -0.011, 0.97, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  52.15% {
    transform: matrix3d(0.991, 0.005, 0, 0, 0.004, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  58.26% {
    transform: matrix3d(1.004, 0.011, 0, 0, 0.007, 1.004, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  63.26% {
    transform: matrix3d(1.007, 0.009, 0, 0, 0.006, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  83.28% {
    transform: matrix3d(0.999, -0.002, 0, 0, -0.001, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  85.49% {
    transform: matrix3d(0.999, -0.002, 0, 0, -0.001, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "Open-Sans", Arial, Helvetica, sans-serif;
  background: #eee; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

button.Default {
  text-align: center;
  cursor: pointer;
  padding: 10px 5px;
  background: #e1e1e1;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
  border-radius: 2px;
  box-shadow: 0 2px 2px #bbbbbb;
  transition: background ease 400ms; }
  button.Default.less {
    background: #d5d5d5; }
  button.Default:hover {
    background: linear-gradient(#d5d5d5, #bbbbbb); }
  button.Default:disabled {
    background: #eee;
    color: #bbbbbb;
    cursor: not-allowed; }
button.Success {
  text-align: center;
  cursor: pointer;
  padding: 10px 5px;
  background: #3c674b;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
  border-radius: 2px;
  box-shadow: 0 2px 2px #203628;
  transition: background ease 400ms; }
  button.Success.less {
    background: #32573f; }
  button.Success:hover {
    background: linear-gradient(#32573f, #203628); }
  button.Success:disabled {
    background: #eee;
    color: #203628;
    cursor: not-allowed; }

.loader,
.loader:before,
.loader:after {
  border-radius: 50%; }

.loader {
  color: #ffffff;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0); }

.loader:before,
.loader:after {
  position: absolute;
  content: ''; }

.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #408080;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s; }

.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #408080;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease; }

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
header {
  display: flex;
  height: 58px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #1a4440;
  color: #fff;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px; }
  header .menu {
    flex-basis: 8%;
    cursor: pointer; }
    @media (min-width: 500px) {
      header .menu {
        display: none; } }
    header .menu div {
      width: 40px;
      margin-bottom: 5px;
      height: 5px;
      background: #fff;
      border-radius: 1px; }
  header .logo {
    flex-basis: 8%;
    padding: 5px; }
    header .logo img {
      width: 35px; }
  header nav {
    flex-basis: 85%;
    text-align: center;
    height: 100%; }
    header nav ul {
      display: flex;
      justify-content: flex-end;
      height: 100%; }
      header nav ul li a {
        color: #fff;
        height: 100%;
        display: flex;
        align-items: center;
        border-bottom: 4px solid transparent;
        padding: 0 20px;
        transition: color ease 400ms; }
        header nav ul li a.active, header nav ul li a:hover, header nav ul li a:active {
          background: #368e85;
          border-bottom: 4px solid #6c8440; }
    @media (max-width: 500px) {
      header nav {
        display: none; } }
  @media (max-width: 500px) {
    header {
      justify-content: space-between; } }

.modal-backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #bbbbbb;
  opacity: .8;
  z-index: 1; }

.summary-modal {
  position: fixed;
  background: #457757;
  color: #fff;
  padding: 20px;
  margin: 4px auto;
  left: 0;
  right: 0;
  top: 40vh;
  width: 40%;
  transition: ease 800ms;
  z-index: 2;
  text-align: center; }
  .summary-modal ul li {
    margin-bottom: 10px; }
    .summary-modal ul li span {
      text-transform: capitalize;
      font-weight: bold; }

main {
  margin-top: 72px;
  text-align: center; }

.BuildControls {
  display: flex;
  flex-direction: column;
  background: #368e85;
  margin: 3% 0;
  padding: 3% 0; }
  .BuildControls P {
    text-align: center;
    color: #fff;
    font-size: 1rem;
    padding-bottom: 10px; }
  .BuildControls .BuildControl {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
    align-items: center;
    margin-bottom: 2%;
    color: #fff;
    font-size: 1rem; }
    .BuildControls .BuildControl > * {
      flex-basis: 30%;
      text-align: left; }
    .BuildControls .BuildControl button {
      text-align: center;
      cursor: pointer;
      padding: 10px 5px;
      background: #2f7c74;
      border: none;
      outline: none;
      color: #fff;
      font-size: 1rem;
      border-radius: 2px;
      box-shadow: 0 2px 2px #1a4440;
      transition: background ease 400ms; }
      .BuildControls .BuildControl button.less {
        background: #286962; }
      .BuildControls .BuildControl button:hover {
        background: linear-gradient(#286962, #1a4440); }
      .BuildControls .BuildControl button:disabled {
        background: #eee;
        color: #1a4440;
        cursor: not-allowed; }
  .BuildControls .purchasable {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    padding: 10px 5px;
    background: #25625b;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 2px;
    box-shadow: 0 2px 2px #102a28;
    transition: background ease 400ms;
    font-size: 1.2rem;
    text-transform: uppercase; }
    .BuildControls .purchasable.less {
      background: #1e4f4a; }
    .BuildControls .purchasable:hover {
      background: linear-gradient(#1e4f4a, #102a28); }
    .BuildControls .purchasable:disabled {
      background: #eee;
      color: #102a28;
      cursor: not-allowed; }
    .BuildControls .purchasable:enabled {
      animation-name: scale;
      animation-duration: 400ms;
      animation-fill-mode: forwards; }

.order-summary button {
  text-align: center;
  cursor: pointer;
  padding: 10px 5px;
  background: #32573f;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
  border-radius: 2px;
  box-shadow: 0 2px 2px #16261c;
  transition: background ease 400ms;
  width: 30%;
  margin-left: 30px;
  text-transform: uppercase; }
  .order-summary button.less {
    background: #294734; }
  .order-summary button:hover {
    background: linear-gradient(#294734, #16261c); }
  .order-summary button:disabled {
    background: #eee;
    color: #16261c;
    cursor: not-allowed; }

.sideDrawer {
  width: 200px;
  max-width: 70%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  padding: 4%;
  background: #fff;
  transition: transform 300ms ease-out; }
  .sideDrawer .logo {
    margin-bottom: 20px; }
  .sideDrawer nav ul li {
    margin-bottom: 10px; }
    .sideDrawer nav ul li a {
      color: #286962;
      transition: color 400ms ease-out; }
    .sideDrawer nav ul li.active a, .sideDrawer nav ul li:active a, .sideDrawer nav ul li:hover a {
      color: #44b3a8; }
  @media screen and (min-width: 500px) {
    .sideDrawer {
      display: none; } }

.sideDrawer-open {
  transform: translateX(0); }

.sideDrawer-close {
  transform: translateX(-100%); }

.contact {
  width: 60%;
  box-shadow: 0 0 5px #d5d5d5;
  margin: 4% auto;
  padding: 4%; }
  .contact label {
    display: block;
    text-align: left;
    font-weight: bold; }
  .contact h4 {
    font-size: 1.5rem;
    margin-bottom: 30px; }
  .contact input, .contact textarea, .contact select {
    width: 100%;
    padding: 5px;
    margin: 10px 0;
    outline: none;
    display: block;
    font-size: 1rem; }
    .contact input:focus, .contact textarea:focus, .contact select:focus {
      background: #d5d5d5;
      outline: none; }
    .contact input.invalid, .contact textarea.invalid, .contact select.invalid {
      background: red; }
  .contact input {
    height: 40px; }
  .contact button {
    width: 100%;
    margin: 10px 0; }

/*# sourceMappingURL=index.css.map */
